*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body {
    background: #050505;
    color: white;
}


header{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:
radial-gradient(circle,#333,#050505 70%);
padding:20px;
}


.logo{
font-size:100px;
}


h1{
font-size:70px;
margin:20px;
}


header p{
font-size:22px;
color:#aaa;
}


.buttons{
margin-top:40px;
}


.btn{
padding:15px 30px;
margin:10px;
border-radius:12px;
text-decoration:none;
font-weight:bold;
display:inline-block;
}


.download{
background:white;
color:black;
}


.discord{
border:2px solid white;
color:white;
}


section{
max-width:1100px;
margin:auto;
padding:80px 20px;
}


h2{
font-size:40px;
margin-bottom:25px;
}


p{
font-size:18px;
line-height:1.6;
color:#ccc;
}


.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
gap:25px;
}


.card{
background:#111;
border:1px solid #333;
padding:25px;
border-radius:15px;
}


.card:hover{
transform:translateY(-8px);
transition:.3s;
}


footer{
text-align:center;
padding:30px;
color:#777;
}
